
 /* ------------------以下为第一页样式------------------------ */
 #qs .top,#qs .middle,#qs .bottom{
  width: 100%;
  height: 33.3%;
  /* border: 0.001rem solid red; */
}
#qs .top .tl{
  float: left;
  width: 15%;
  height: 90%;
  border: 0.1rem solid #888;
  border-radius: 1.5rem;
  margin: 1rem;
  background: #FFFFD7
}
#qs .top .tl .jm{
  width: 80%;
  height: 25%;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 auto; 
}
#qs .top .tl .jm:last-child{
  border-bottom: none;
}
#qs .top .tl .jm>p{
  display: inline-block;
  padding-left: 0.8rem;
  margin: 0.8rem 0 0 -0.5rem;
  height: 60%;
  line-height: 2.25rem;
  border-left: 0.5rem solid #5FC65D;
  font-size: 1.125rem;
}
#qs .top .tl .jm:nth-child(2)>p{
  border-left: 0.5rem solid #FB7252;
}
#qs .top .tl .jm:nth-child(3)>p{
  border-left: 0.5rem solid #FDB644;
}
#qs .top .tl .jm:last-child>p{
  border-left: 0.5rem solid #6378AD;
}
#qs .top .tl .jm>span{
  float: right;
  margin: 0.8rem 0 0 -0.5rem;
  height: 60%;
  line-height: 2.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #1A97EE;
}
#qs .top .tr{
  float: right;
  width: 83%;
  height: 100%;
  position: relative
}
#qs .middle,#qs .bottom{
  position: relative;
}

 /* ------------------以下为第二页样式------------------------ */
 #db .top,#db .bottom{
  width: 100%;
  height: 50%;
  /* border: 0.001rem solid red; */
}
#db .top{
  position: relative;
  background: #2AA4F0;
  padding: 2rem 0.2rem;
}
#db .top .tab_warp_db{
  float: left;
  width: 10%;
  height: 90%;
}
#db .top .tab_warp_db .tab{
  margin: 2rem 0;
  width: 100%;
  height: 3rem;
  background: #5BBEF0;
  font-size: 1.25rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
#db .top .tab_warp_db .tab.active{
  width: 102%;
  background: #fff;
  color: #000;
  z-index: 100;
}
#db .top .content_db{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 90%;
  height: 92%;
  background: #fff;
}
