
 /* ------------------以下为月分析页样式------------------------ */
 body{
   margin: 0;
   padding: 0;
 }
 p{
  margin-bottom: 0 !important;
  margin-top: 0.3rem !important;
}
#yfx .top,#yfx .bottom{
 width: 100%;
 height: 33%;
 background: #F8F8F8;
 margin-bottom: 0.2%;
 border-bottom: 0.1rem solid #F1F1F1;
 /* border: 0.001rem solid red; */
}
#yfx .bottom{
  height: 65.6%;
  background: #fff;
  margin-bottom: 0;
  background: #F1F1F1
 }
 #yfx .top .tl,#yfx .bottom .btl,#yfx .bottom .bbl{
   position: relative;
   float: left;
   width: 70%;
   height: 100%;
   box-shadow: 12px 0px 22px -16px;
  /* border: 0.001rem solid red; */
 }
 #yfx .top .tr,#yfx .middle .mr{
  float: right;
  width: 30%;
  height: 100%;
  border: 0.1rem dashed #e1e1e1;
}
#yfx .top .tr table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
#yfx .top .tr table tr{
  width: 100%;
  height: 3rem;
}
#yfx .top .tr table tr:nth-child(even){
  background: #F1F1F1
}
#yfx .top .tr table tr:nth-child(even) td,#yfx .top .tr table tr:first-child td{
  font-weight: bold;
  font-size: 1.25rem;
}
#yfx .top .tr table tr:nth-child(even) td:nth-child(2),#yfx .top .tr table tr:first-child td:nth-child(2){
  font-weight: bold;
  font-size: 1.8rem;
  color: #F97F71
}
#yfx .top .tr table tr td{
  width: 16.6%;
  text-align: center;
}
table td{
  position: relative;

}
table td>i{
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.fa-arrow-circle-up{
  color: #FD5C5B;
  display:none;
  font-size: 2rem;
}
.fa-arrow-circle-down{
  color: #0AD267;
  display:none;
  font-size: 2rem;
  
}
.bottom ul{
  height: 6%;
  margin: 0;
}
.bottom ul li{
  float: left;
  list-style: none;
  width: 5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: 0.1rem solid #3598D8;
  background: #fff;
  color: #3598D8;
  text-align: center;
  cursor: pointer;  
} 
.bottom ul li.active {
    border: 0.1rem solid #3598D8;
    background: #3598D8;
    color: #fff;
}
.bottom .bt,.bottom .bb{
  width: 100%;
  height: 47%;
}

.bottom .bt .btl,.bottom .bb .bbl{
  float: left;
  width: 70%;
  height: 100%;
}

.btr,.bbr{
  float: right;
  width: 30%;
  height: 100%;

}
.btr table,.bbr table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;

}
.btr table tr,.bbr table tr{
  width: 100%;
  height:2rem;
}
.btr table tr td,.bbr table td{
  width: 25%;
  height:2rem;
  text-align: center
}
.btr table tr:first-child,.bbr table tr:first-child{
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left
}
.btr table tr:nth-child(odd),.bbr table tr:nth-child(odd){
  background: #fff
}
.btr table tr:first-child td,.bbr table tr:first-child td{
  text-align: left;
  padding-left: 1rem;
}
