body{
  margin: 0;
  padding: 0;
  font-family:Microsoft YaHei
}
p{
 margin-bottom: 0 !important;
 margin-top: 0.3rem !important;
}
.left{
  float: left;
  position: relative;
  width: 70%;
  height: 100%;
}
.right{
  float: right;
  width: 29%;
  height: 100%;
}
table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 0.1rem dashed #aaa
}
table tr:nth-child(even){
  background: #f2f2f2;
}
table tr:first-child{
  font-weight: bold;
  font-size: 1.25rem;
}
table tr:nth-child(2){
  font-weight: bold;
  font-size: 1.125rem;
}
table td{
  text-align: center;
  width: 25%
}